* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
   
}

body{
    font-family:sans-serif;
   height: 100vh;
 background-image: linear-gradient(rgb(255,255,255),rgb(109,39,239));

}
img {
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;

}
h1{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container {
    max-width: 955px;
    height: 80vh;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    overflow-y:auto;
    margin-bottom: 23px;
    display: flex;
    flex-direction: column;
    
   
}



.message {
    background-color: rgb(156, 146, 146);
    width: fit-content; /* Adjust width based on content */
    max-width: 40%; /* Limit message width */
    padding: 10px 16px;
    margin: 10px;
    border-radius: 10px;
  border: 2px solid rgb(149, 142, 142);
    display: flex;
    align-items: center;
    font-size: 22px;
   
   
   
}

.left {
 
align-self: flex-start;

}

.right {
align-self: flex-end;

margin-left: auto; 

}

#send-container{
text-align: center;
max-width: 985px;
width: 100%;
/* display: block; */
display: flex;
margin: auto;
justify-content: center;


}
#messageInp{
    width: 90%;
    border: 1px solid black;
    border-radius: 6px;
    height: 34px;
    outline: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 18px;
   
   
}
.btn{
  padding: 6px 15px;  
  border-radius: 6px;
  border: 1px solid black;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
 
}